h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
}
p,a{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none!important;
}
.secation_heading_duboll_boarder{
    height: 2px;
    width: 150px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    transition: all 0.5s linear
}
.secation_heading_duboll_boarder::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #FC4349
}
/* secation headdng boarder end */
/* commoun css */
.preloader{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 9999999999;
    margin:  0 auto;
    background-color: #D7DADB;
    padding-top: 45vh;
}
.loader {
  border: 16px solid #FC4349;
  border-radius: 50%;
  border-top: 16px solid #D7DADB;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
    margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.back_top{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.3);
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99999;
}
.back_top:hover{
    background-color: #2c3e50;
}
.back_top i{
    color: #fff;
    font-size: 30px;
}
/* end of preloader and back to top button*/


#news_headding {
    background-color: #D7DADB;
}

marquee a {
    color: #2c3e50;
}


/* end of news heading part */
.menu_fix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.navbar-toggler span i{
    color: #fff;
    font-size: 22px;
}
#nav_part{
    background-color: #2C3E50;
}
.logo{
    color: #fff!important;
    font-family: 'Nova Flat', cursive;
    text-transform: capitalize;
    font-size: 22px;
}
#navbar_item ul li a{
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
 
#navbar_item ul li a:hover{
    opacity: 0.7;
}
.dropdown_items a{
    color: #2c3e50!important;
    text-transform: capitalize;
}
.dropdown_items a:hover{
     background-color: #D7DADB;
     opacity: 1!important;
}
/* end of  navbar menu part */

.main_banner{
    background: url(../images/banner.jpg) center center no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}
.main_banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
#full_banner{
    position: relative;
}
.banner_inner{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}
.banner_txt h2{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner_txt h2 span{
    color: #FC4349;
}
.banner_txt h1{
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
}
.margin_b{
    margin-bottom: 80px;
}
.banner_footer{
    margin: 50px 0;
}
.banner_footer h3{
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}
.banner_footer h3 span{
    text-transform: uppercase;
    color: #FC4349;
    font-weight: 900;
}
.banner_scervices_inne{
    background-color: rgba(44, 62, 80, 0.5);
    border-left: 10px solid #D7DADB;
}
.banner_scervices_inne:hover{
    background-color: #2c3e50;
}
.banner_scervices_inne:hover .banner_inner_icon i{
    font-size: 50px;
}
.banner_inner_icon{
    display: inline-block;
}
.banner_inner_icon i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 0px;
    color: #fff;
    font-size: 45px;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.banner_inner_txt{
   display: inline-block;
    margin-left: 15px;;
}
.banner_inner_txt h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner_inner_txt a{
    color: #fff;
    font-size: 16px;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out ;
    transition: all 0.15s ease-in-out;
}
.banner_inner_txt a:hover{
    text-decoration: underline!important;
}

/* end of banner part */
#scervice_part{
    padding: 80px 0;
    background: url(../images/scervice%20bf.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
#scervice_part::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(44, 62, 80, 0.5);
    z-index: -2;
}
.scervice_inner{
    background-color: #2c3e50;
    text-align: center;
    padding: 30px;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.scervice_inner:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
.scervice_inner h3{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.scervices_heading{
    padding: 40px 0;
}
.scervices_heading h2{
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}
.scervice_inner a{
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.scervice_inner a:hover{
    text-decoration: underline!important;
    opacity: 1;
}

/* end of scervices part */
#video_part{
    padding: 80px 0;
    background-color: #f9f9f9;
}

.video_box{
    margin-top: 30px;
}
.video_box iframe{
    height: 100%;
    width: 100%;
}
/* end of video part */

#mission_part{
    background: url(../images/golas.jpg) center center no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
#mission_part::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(44, 62, 80, 0.7);
    z-index: -1;
}

.misstion_headding h2{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}
.misstion_headding h2 span{
    color: #FC4349;
}
.misstion_headding p{
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    margin: 0;
    margin-top: 20px;
}
.missition_title p{
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.mission_detailse{
    padding: 40px 0;
}
.mission_detailse p{
    color: #fff;
    font-size: 22px;
}
.misstion_buboll_boarder{
    margin: 0 auto;
}
.misstion_buboll_boarder::before{
    content: '';
    background-color: #FC4349;
}
/* end of mission part */

#milesoton_part{
    background: url(../images/background-count-number-1.png) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    position: relative;
    z-index: 1;
}
#milesoton_part::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.milestion_inner h2{
    color: #fff;
    font-weight: 700;
    font-size: 80px;
}
.milestion_inner p{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.milestion_inner a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.milestion_inner a:hover{
    text-decoration: underline!important;
}
/* end of mileston part */
#idea_part{
    padding: 80px 0;
}
.idea_heading{
    margin-bottom: 40px;
}
.idea_heading h2{
    font-size: 40px;
    color: #FC4349;
    text-transform: capitalize;
    text-align: center;
    font-weight: 900;
}
.idea_heading h2 span{
    color: #2c3e50;
}
.idea_headdin_boarder{
    background-color: #2c3e50;
}
.idea_inner{
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 30px;
}
.idea_txt h3{
    color: #2c3e50;
    font-size: 22px;
    text-transform: uppercase;
}
.idea_txt p{
    color: #2c3e50;
    font-size: 16px;
}
.idea_txt .author_name{
    font-size: 14px;
}
.idea_txt a{
    color: #2c3e50;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline!important;
}
.idea_txt a:hover{
   color: #FC4349;
}
.idea_img img{
    height: 200px;
    width: 200px;
}
.idea_details p{
    color: #2c3e50;
    font-size: 16px;
}
.idea_details{
    padding: 40px 15px;
}
.idea_details a{
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    background-color: #4267B2;
    text-transform: uppercase;
}
.slick-dots li{
    list-style: none;
    display: inline-block;
}
.slick-dots li button{
    font-size: 0;
    border: 2px solid #FC4349;
    background-color: transparent;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
}
.slick-active button{
    background-color: #FC4349!important;
}
/* end of idea part */
#event_part{
    padding: 80px 0;
    background-color: #f9f9f9;
}
.event_headding h2{
    color: #FC4349;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.event_headding h2 span{
    color: #2c3e50;
}
.event_img{
    position: relative;
}
.event_img img{
    height: 205px;
}
.event_img .date{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(252, 67, 73);
    color: #fff;
    font-size: 22px;
    padding: 5px 15px;
}
.event_txt{
    text-transform: capitalize;
}
.event_txt a{
    color: #2c3e50;
    text-decoration: underline!important;
    font-size: 18px;
    text-transform: capitalize;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.event_txt a:hover{
    color: #FC4349;
}
/* end of event part */
#blog_part{
    padding: 80px 0;
}
.blog_date{
    display: inline-block;
    box-sizing: border-box;
}
.blog_date p{
    color: #FC4349;
    font-size: 18px;
    padding: 15px;
    border-right: 1px solid #FC4349;
    padding-top: 0;
    margin-top: 15px;
}
.blog_date p span{
    font-size: 30px;
}
.blog_headding{
    display: inline-block;
    box-sizing: border-box;
    padding-left: 20px;
}
.blog_headding h3{
    color: #2c3e50;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.blog_headding h3:hover{
    color: #FC4349;
}
.blog_details p{
    color: #2c3e50;
    font-size: 16px;
}
.blog_details a{
    color: #2c3e50;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: underline!important;
}
.blog_details a:hover{
    color: #FC4349;
}
/* end of blog part */
#partnar_part{
    padding: 80px 0;
    background-color: #D7DADB;
}
.support_headding h2{
    font-size: 40px;
    color: #2c3e50;
    font-weight: 700;
    text-transform: capitalize;
}
.suppor_items{
    margin-top: 40px;
}
.suppor_items img{
    height: 70px;
    width: 70px;
    display: inline-block;
}
.suppor_items a{
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
    color: #139644;
    font-weight: 700;
}
/* end of support part */



#massage_part{
    background-color: #2c3e50;
    padding: 80px 0;
}
.massage_headding h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.form_part form input[type="text"],input[type="email"]{
    color: #fff;
    padding: 4px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    height: 40px;
    margin-bottom: 20px;
}
.txt_area textarea{
    width: 490px;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 15px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    height: 100px;
    margin-bottom: 20px;
}
.txt_area button{
    background-color: #fff;
    color: #2c3e50;
    font-size: 16px;
    border: none;
    padding: 10px 0;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    
    
}
.txt_area button:hover{
    background-color: #FC4349;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* end of massage part */

#footer_part{
    padding: 80px 0;
    background: url(../images/footer-bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
#footer_part::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: -1;
}

.footer_btn a{
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.footer_btn a:hover{
    background-color: #FC4349;
    border: 1px solid #FC4349;
}
.socail_icon a i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background: transparent;
    border-radius: 5%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.socail_icon a:nth-child(1):hover i{
    color: #fff;
    background-color: #4267B2;
    border: 1px solid transparent;
}
.socail_icon a:nth-child(2):hover i{
    color: #fff;
    background-color: #DE5D52;
    border: 1px solid transparent;
}
.socail_icon a:nth-child(3):hover i{
    color: #fff;
    background-color: #FF0000;
    border: 1px solid transparent;
}

.footer_txt p{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
/*end of footer part */

/*** Responsiv design part ***/


@media (max-width: 575px) {
    .massage_headding h2{
        font-size: 30px;
    }
    .form_part form input[type="text"], input[type="email"]{
        width: 100%;
    }
    .txt_area textarea{
        width: 100%;
    }
/* end of massage part */
    .footer_btn a{
        padding: 9px;
        margin: 0;
        font-size: 14px;
    }
/*    end of footer part*/
    .banner_txt h2{
        font-size: 18px;
    }
    .banner_txt h1{
        font-size: 80px;
    }
    .banner_footer{
        margin: 0;
    }
    .banner_footer h3{
        font-size: 16px;
    }
    .margin_b{
        margin-bottom: 0;
    }
    .banner_inner{
        position: static;
        transform: translate(0);
        margin-bottom: 0;
        padding: 30px 0;
    }
    .banner_scervices_inne{
        border: none;
        margin: 0 30px 30px;
        background-color: #2c3e50;
    }
    .banner_scervices_inne:hover{
        background-color: #2c3e50;
    }
    .banner_inner_icon i {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 40px;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
    }
    .banner_inner_txt{
        margin-left: 0;
    }
    .banner_inner_txt h3{
        font-size: 18px;
    }
    .banner_scervices_inne:hover .banner_inner_icon i{
        font-size: 40px;
    }
/*    end of baner part */
    .scervices_heading h2{
        font-size: 26px;
    }
    .scervice_inner h3{
        font-size: 18px;
    }
    .scervice_inner a{
        font-size: 14px;
    }
/*    end of scervices part */
    .misstion_headding p{
        font-size: 16px;
    }
    .missition_title p{
        font-size: 18px;
    }
    .mission_video iframe{
        width: auto;
        height: auto;
    }
    .mission_detailse{
        padding: 20px;
    }
    .mission_detailse p{
        font-size: 16px;
        line-height: 24px;
    }
    .mission_video{
        text-align: center;
    }
    
/*    end of mission part */
    .milestion_inner h2{
        font-size: 30px;
    }
    .milestion_inner p{
        font-size: 14px;
    }
/* end of milestion part */
    .blog_date p{
        padding-bottom: 0;
    }
    .blog_headding{
        width: 76%;
    }
    .blog_headding h3{
        font-size: 20px;
    }
    .blog_details a{
        font-size: 16px;
    }
/*    end of blog part */
}


@media (min-width: 576px) and (max-width: 767px) {
     .banner_txt h2{
        font-size: 26px;
    }
    .banner_txt h1{
        font-size: 90px;
    }
    .banner_footer{
        margin: 0;
    }
    .banner_footer h3{
        font-size: 16px;
    }
    .margin_b{
        margin-bottom: 0;
    }
    .banner_inner{
        position: static;
        transform: translate(0);
        margin-bottom: 0;
        padding: 30px 0;
    }
    .banner_scervices_inne{
        border-left: 10px solid #D7DADB;;
        background-color: #2c3e50;
    }
    .banner_scervices_inne:hover{
        background-color: rgba(44, 62, 80, 0.9);
    }
    .banner_inner_icon i {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 30px;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
    .banner_inner_txt{
        margin-left: 0;
    }
    .banner_inner_txt h3{
        font-size: 20px;
    }
    .banner_scervices_inne:hover .banner_inner_icon i{
        font-size: 30px;
    }
/*    end of banner part */
    
    .scervice_inner h3{
        line-height: 26px;
        font-size: 16px;
    }
    .scervice_inner a{
        font-size: 14px;
        padding: 0;
    }
/* end of scervices part */
    
    .missition_title p{
        font-size: 0;
    }
    .misstion_headding p{
        font-size: 18px;
    }
    .mission_video iframe{
        height: 286px;
    }
    .mission_detailse p{
        font-size: 16px;
    }
    
/*    end of mission part */
    .milestion_inner h2{
        font-size: 45px;
    }
/*    end of milestion part */
    .blog_headding{
        width: 86%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .banner_inner_icon i {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 0px;
	color: #fff;
	font-size: 40px;
}
    .banner_inner_txt h3{
        font-size: 18px;
    }
    .banner_inner_txt a{
        font-size: 14px;
    }
    .banner_inner_txt{
        margin-left: 0;
    }
    .banner_scervices_inne:hover .banner_inner_icon i{
        font-size: 42px;
    }
/* end of banner part */
    .misstion_headding p{
        font-size: 18px;
    }
    .missition_title p{
        font-size: 16px;
    }
    .mission_video iframe{
        height: 385px;
    }
    .mission_detailse p{
        font-size: 16px;
    }
/*  end of mission part */
    
    
}


@media (min-width: 992px) and (max-width: 1199px) {
    .banner_inner_txt{
        margin-left: 0;
    }
    .banner_inner_txt h3{
        font-size: 20px;
    }
    .banner_scervices_inne:hover .banner_inner_icon i{
        font-size: 45px;
    }
/* end of banner part */
   
}

@media (min-width: 1200px) {
    .mission_video iframe{
        height: 450px;
    }
/* end of mission part */
}